.Button {
  padding: 20px;
  margin: 5px;
  display: inline-block;
}

span {
  user-select: none;
}

.Button:hover {
  filter: brightness(1.5);
  cursor: pointer;
}

.Button:active {
  filter: brightness(0.7);
  cursor: pointer;
}

.green {
  background-color: green;
}

.red {
  background-color: firebrick;
}

.blue {
  background-color: blue;
}
